<div class="ets-reviews"></div>

{% if customer and customer.orders.size > 0 %}
  {% assign has_purchased = false %}
  {% assign order_id = '' %}
  {% for order in customer.orders %}
    {% if order.financial_status == 'paid' %}
      {% for line_item in order.line_items %}
        {% if line_item.product.id == product.id %}
          {% assign has_purchased = true %}
          {% assign order_id = order.id %}
          {% break %}
        {% endif %}
      {% endfor %}
    {% endif %}
  {% endfor %}

  {% if has_purchased %}
    <div class="ets-rating-form">
      <input type="hidden" value="{{ product.id }}" name="ets_product_id">
      <input type="hidden" value="{{ product.title }}" name="ets_product_title">
      <input type="hidden" value="{{ customer.id }}" name="ets_customer_id">
      <input type="hidden" value="{{ customer.name }}" name="ets_customer_name">
      <input type="hidden" value="{{ customer.email }}" name="ets_customer_email">
      <input type="hidden" value="{{ order_id }}" name="ets_order_id">
    </div>
  {% endif %}
{% endif %}

{% schema %}
{
  "name": "Star Rating",
  "target": "section"
}
{% endschema %}
